@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
body {
  font-family: 'Kaushan Script', cursive;;
  margin: 0;
  -webkit-font-smothing:antialiased;
  max-width:100%;
}

* {
  box-sizing: border-box;
}

video {
  vertical-align: middle;


}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  top: 10vh;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
#x{


  width:100%;
  max-height: 600px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
 

.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top:10vh;
}

/* Six columns side by side */
.column {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.8;
  z-index: 2;
}

.active,
.demo:hover {
  opacity: 1;
}
.box{
  margin-top: 0;
  margin-left: 0;
  
}
.slide__overlay path{
  orphans: 0.8;
}
.box .slide__overlay{
  opacity: 0.7;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  transform: translate3d(-5%,0,0);

}
.column .content{
  position: absolute;
  top:900px;
  
  width: 100%;
  margin-top: 2%;
  
}
 .content h1{
  font-size: 50px;
  color: red;
  margin-left: 1%;
}

h1 span{
  position: relative;
    margin-left: 0;
    font-size: 35px;
    letter-spacing: 0;
    color: rgb(9,12,53);
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
}
h1 span:nth-child(2){animation-delay: .1s;}
h1 span:nth-child(3){animation-delay: .2s;}
h1 span:nth-child(4){animation-delay: .3s;}
h1 span:nth-child(5){animation-delay: .4s;}
h1 span:nth-child(6){animation-delay: .5s;}
h1 span:nth-child(7){animation-delay: .6s;}
h1 span:nth-child(8){animation-delay: .7s;}
h1 span:nth-child(9){animation-delay: .8s;}


@keyframes bounce{
  100%{
    top:-10px;
    
  }
}
.vl{
    margin-left: 70%;
     border-left: 6px solid red;
  height: 170px;
  margin-top:40%;
}
 
@media (max-width: 991px){
  .slide__overlay{
    display: none;
  }
  #w{
    width: 50%;
  }
  .content h1{
    font-size: 30px;
    margin-left: 9%;
  }
  h1 span{
    font-size: 25px;
  }
  #y{
    width:0%;
    }
   .column p{
      font-size: 13px;
      margin-top: 30%;
      width:100%;
      margin-left: -10%;
    }
    .column .vl{
      height:250px;
      margin-left: 70%;

    }
  
 
 }
 
/*Navigation Bar*/
  
nav{
	height:12vh;
	background: rgba(9, 78, 32, 0.9);
	z-index: 1000;
	width:100%;
  }
  .nav-links  li:hover a{
	color: rgb(252, 247, 0);
  }
  .nav-links{
	display: flex;
	list-style: none;
	width: 55%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
	margin-top: 0;
	z-index: 1;
  }
  .nav-links  li a{
	color:white;
	text-decoration: none;
	font-size: 18px;
	padding: 6px;
	
  }
  
  
  
  @media screen and (max-width:850px){
	.line{
		width: 30px;
		height: 3px;
		background: white;
		margin:5px;
	}
	nav{
		position: relative;
			}
	.hamburger{
				position: absolute;
				cursor: pointer;
				right: 5%;
				top:30%;
				transform: translate(-5%,-50%);
				z-index: 10;
			}
	.nav-links{
			position: fixed;
			background:rgb(9, 78, 32);
			height: 100vh;
			width: 100%;
			flex-direction: column;
			justify-content: flex-start;
			margin-top: 7%;
			clip-path: circle(100px at 90% -10%);
			-webkit-clip-path: circle(100px at 90% -20%);
			transition: all 1s ease-out;
				z-index: 1;
		}
	.nav-links.open{
			clip-path: circle(600px at 90% -20%);
			-webkit-clip-path:circle(600px at 90% -20%);
			position: absolute;
			z-index: 999;
			}
	.header-main.act{
			z-index: -10;
		}
		
	.nav-links li a{
			font-size: 25px;
			z-index: 1;
		}
	.nav-links li:nth-child(1){
			transition: all 0.5s ease-out 0.2s;
  
		}
	.nav-links li:nth-child(2){
		transition: all 0.5s ease 0.4s;
	   }
	.nav-links li:nth-child(3){
		transition: all 0.5s ease 0.6s;
	   }
	li.fade{
		opacity: 1; 
	   }
  
  }
  p.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 5vh;
	width: 200px;
	z-index:2000;
  }
  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }
  .sticky + .mymain{
	padding-top: 60px;
  }
  footer .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  }
  footer{
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 17px;
	letter-spacing: 1px;
	color:white;
	background: rgb(1, 15, 32);
	max-height:125%;
	padding: 15px;
	
  }
  footer h1{
	  font-size: 45px;
	  color:#fff;
	  font-weight: 300;
	  letter-spacing: 4px;
  text-align: center;
  }
  footer h2{
	font-size: 36px;
	color:#fff;
	font-weight: 300;
  text-align: center;
  }
  footer p{
	font-size: 24px;
	color:#fff;
	font-weight: 300;
  text-align: center;
  }
  footer ul li{
  display: inline-block;
	margin:0.5px;
	font-size: 15px;
	color: #00bfff;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
  }
  footer span.fa{
   color: #fff;
	font-size: 40px;
	line-height: 80px;
	margin:0 5px;
	transition: 0.5s all;
  }
  footer a.facebook{
	background: #3b5998;
  }
  footer a.twitter{
	background: #1da1f2;
  }
  footer a.google-plus{
	background: #dd4b39;
  }
  footer ul li a{
	background: rgba(255,255,255,0.22);
	width: 80px;
	height: 80px;
	line-height: 35px;
	display: block;
	text-align: center;
	border-radius: 55%;
	
  }
  footer .column{
  max-width: 33.33%;
  -ms-flex: 33.33%; /* IE10 */
  flex: 33.33%;
  
  }
  footer a{
  color: #1da1f2;
  }
  footer .column h2 span{
  animation:neon 0.08s ease-in-out infinite alternate;
  }
  @keyframes neon {
  from {
	text-shadow: 0 0 6px rgba(255, 0, 0, 0.92),
	  0 0 30px rgba(255, 0, 0, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
	  0 0 21px rgba(255, 0, 0, 0.92), 0 0 34px rgba(255, 0, 0, 0.78),
	  0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
	text-shadow: 0 0 6px rgba(255, 0, 0, 0.98),
	  0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
	  0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
	  0 0 60px rgba(30, 132, 242, 1);
  }
  }
  @media screen and (max-width: 800px) {
  footer .column {
	-ms-flex: 30%;
	flex: 30%;
	max-width: 30%;
  }
  
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 950px) {
  footer .column {
	-ms-flex: 30%;
	flex: 30%;
	max-width: 30%;
  }
  body{
	overflow-x: hidden;
  }
  footer h2{
	font-size:18px;
  }
  footer p{
	font-size: 12px;;
  }
  #x{
	margin-left: -1%;
  }
  #y{
	margin-left: -4%;
  }
  footer a{
	font-size: 13px;
  }
  }
  @media(max-width: 667px){
	footer h1{
		font-size: 41px;
		letter-spacing: 3px;
	}
  }
  @media(max-width: 415px){
	footer h1{
		font-size: 41px;
		
	}
  }
  
